/* Colors */

:root {
    --black-color: #000000;
    --darker-blue-color: #000938;
    --dark-blue-color: #03045E;
    --blue-color: #0252B6;
    --light-blue-color: #48CAE4;
    --background-color: #E2FAFF;
    --white-color: #FFFFFF;
}

/* Importing fonts */

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Global styles */

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    color: var(--dark-blue-color);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 70px;
}

h2 {
    color: var(--blue-color);
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.custom-line {
    border: none;
    width: 150px; /* Longueur de la ligne */
    height: 3px; /* Épaisseur de la ligne */
    background-color: var(--light-blue-color); /* Couleur personnalisée */
    margin: 10px 0 20px 0; /* Espace autour de la ligne */
}

/* Responsive styles */

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}