body {
    background-color: gray;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

nav{
    width: 100%;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
}