body {
    background-color: gray;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}